<h1>Listing cases</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cases.each do |case| %>
  <tr>
    <td><%= link_to 'Show', case %></td>
    <td><%= link_to 'Edit', edit_case_path(case) %></td>
    <td><%= link_to 'Destroy', case, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Case', new_case_path %>
