<h1>Cases</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @cases.each do |_case| %>
      <tr>
        <td><%= link_to _case.title, case_path(_case) %></td>
        <td>
          <%= link_to 'Edit', edit_case_path(_case), :class => 'btn btn-mini' %>
          <%= link_to 'Delete', case_path(_case), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_case_path, :class => 'btn btn-primary' %>
